.produto{
  border: 2px solid lightgray;
  border-radius: 10px;
  overflow: hidden;
}

.produto .preco{
  font-size: 25px;
}

.produto-figure{
  background: #f3f3f3;
  width: 100%;
  height: 150px;
  padding: 10px;
}

.produto-image{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.produto-info{
  padding: 10px;
}

.produto-title{
  font-size: 25px;
  font-weight: bolder;
}

.produto-origem,
.produto-shoparea,
.produto-shoparea div{
  display: flex;
}

.produto-shoparea{
  flex-direction: column;
}

.produto-shoparea div,
.produto-origem{
  align-items: center;
}

.produto-origem{
  font-weight: bolder;
}

.produto-shoparea div{
  justify-content: center;
}

.produto-shoparea input[type=number]{
  width: 80px;
  height: 40px;
}
