.produto{
  border: 2px solid lightgray;
  border-radius: 10px;
  overflow: hidden;
}

.produto .preco{
  font-size: 25px;
}

.produto-figure{
  background: #f3f3f3;
  width: 100%;
  height: 150px;
  padding: 10px;
}

.produto-image{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product-info{
  padding: 10px;
}

.produto-title{
  font-size: 25px;
  font-weight: bolder;
}

.produto-shoparea{
  display: flex;
  flex-direction: column;
  align-items: center;
}
